<launch>

	<node pkg="stage_ros" type="stageros" name="stage_ros" args="$(find faria_stage_tutorial)/worlds/rooms.world" />
	<node pkg="faria_stage_tutorial" type="reactive_navigation.py" name="reactive_navigation" output="screen"/>
      
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="base_scan"/>
    </node>
    <node pkg="rviz" type="rviz" name="rviz"></node>

</launch>