<launch>

	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" output="screen"/>

	<node pkg="faria_turtlebot_tutorial" type="hugo-controller.py" name="controller_1" output="screen">
		<remap from="cmd_vel" to="turtle1/cmd_vel"/>
		<param name="linear_speed" value="1.0"/>
		<param name="angular_speed" value="5.0"/>
		
	</node>

</launch>